* {
    margin: 0px;
    padding: 0px;
    
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
    background-image: url(libr-bg1.jpg);
  }
.header {
    width: 50%;
    margin: auto ;
    color: white;
    background: rgb(250, 50, 0);
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom:none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
  }

.input-group{
     width: 50%;
     margin: auto;
     padding: 20px;
     background: rgb(233, 176, 205);
     border: 1px solid green ;
     border-radius: 0px 0px 10px 10px;
    
}  

.btn{

    width: 50%;
     margin: auto;
     padding: 10px;
     background: rgb(233, 176, 205);
     border: 1px hidden ;
     border-radius: 0px 0px 10px 10px;
}

.monthscroll{
  position:absolute;
  z-index:1;
}  
#showpd{width: 50%;
  margin: auto;
  text-align: right;
  padding: 10px;
  background: rgb(233, 176, 205);
  border: 1px hidden ;
  border-radius: 0px 0px 10px 10px;
  }